@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*
{
    margin: 0;
    padding: 0;
    
    
    
}
/* 
.hero-page
{
    background-image: url(/banner.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
} */


body{
    background-color: #F2F8FF;
}


.bg-img{
    background-image: url(/banner.png);
    
    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    /* Needed to position the navbar */
    position: relative;
   
}


.topnav  {
    background-color: transparent;
    
  }


.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px solid transparent;
    
  }

  .topnav a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  

.heading p {
    position: relative;
    top: 150px;
    color: white;
    font-size: 20px;
    /* right: 80px; */

} 

.game-h 
{
    font-size: 80px;
    /* margin-left: 147px; */
    margin-top: -26px;
    position: relative;
    bottom: 20px;

}

/* Blue */
.info {
    border-color: #0EB7D2;
    color: rgb(255, 255, 255);
    border: 2px solid #0EB7D2;
    
  }
  
  .info:hover {
    background:#0EB7D2;
    color: white;
  }

  button
  {
    position: relative;
    top: 160px;
    left: 158px;
    width: 180px;
    height: auto;
  }


/* cards */


.card {
    width: 300px;
    height: fit-content;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  
    transition: 0.3s ease-out;
  }
  .card:hover {
    transform: translate(0, -8px);
    transition: 0.2s ease-in;
    animation-fill-mode: both;
  }
  @media (max-width: 767px) {
    .card {
      width: 75vw;
    }
  }
  .card img {
    width: 100%;
    border-radius: 12px;
    box-shadow: 5px 30px 70px -15px #111;
  }
  .card p {
    position: absolute;
    margin: 0;
    font-family: verdana;
    color: #fff;
    padding: 10px 30px;
    bottom: 25px;
    background: rgba(0, 68, 255, 0.5);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  @media (max-width: 480px) {
    .card p {
      font-size: 14px;
      margin: 0 auto;
      padding: 6px 15px;
      bottom: -10px;
      right: 0;
      left: 0;
      background: #0f46de;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  }
  .card .video-play-button {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }
  .card .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, rgba(255, 238, 3, 0.9) 15%, rgb(255, 0, 0) 70%);
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
  }
  .card .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 80px;
    height: 80px;
    background: linear-gradient(45deg, #0011ff 15%, rgb(68, 0, 255) 70%);
    border-radius: 50%;
    transition: all 200ms;
    box-shadow: 0 2px 7px #131b49;
  }
  .card .video-play-button:hover:after {
    background-color: #8c00ff;
  }
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }
  
  @-webkit-keyframes pulse-border {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.75);
      transform: scale(1.75);
      opacity: 0;
    }
  }
  @keyframes pulse-border {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1.75);
      transform: scale(1.75);
      opacity: 0;
    }
  }
  .video-overlay {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.55);
    opacity: 0;
    transition: all ease 500ms;
  }
  .video-overlay.open {
    position: fixed;
    z-index: 1000;
    opacity: 1;
  }
  
  .video-overlay-close {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
  }
  .video-overlay-close:hover {
    color: #1100ff;
  }
  
  .video-overlay iframe {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 47vw;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  }
  